@media screen and (min-width: 1290px) {
    
    :root {
        --column-gap: 20px;
    }

    .topbar {
        display: none;
    }

    .header-mobile {
        display: none;
    }

    .header-desktop {
        margin: 50px 60px 80px 60px;
        display: flex;
        justify-content: space-between;
        height: 67px;
    }

    .logo-and-text-header {
        display: flex;
        justify-content: space-between;
    }

    .team-logo-desktop {
        font-size: 38px;
        font-weight: 400;
        color: #323264;
        margin: 0 0 0 26px;
        position: relative;
    }

    .team-logo-desktop::before {
        content: url('../images/slash-48px.svg');
        position: absolute;
        top: 0;
        left: -20px;
    }
    
    .team-logo-desktop::after {
        content: url('../images/symbol-p-48px.svg');
        position: absolute;
        top: 0;
        right: -43px;
    }

    .lang-and-contacts {
        display: flex;
        align-items: center;
    }

    .languages__item {
        color: #B3B3BA;
    }

    .languages__item:hover {
        width: 29px;
        height: 24px;
        background-color: #EDEDF7;
        border-radius: 8px;
        line-height: 24px;
        text-align: center;
        color: #B3B3BA;
    }

    .languages__item_active {
        color: #FFFFFF;
    }

    .languages__item_active:hover {
        background-color: #F0145A;
        color: #FFFFFF;
    }

    .dot-separator {
        margin: 0 10px;
    }

    .header-address {
        color: #B3B3BA;
        font-weight: 400;
        font-size: 16px;
        margin: 0;
    }

    .phone-number {
        color: #B3B3BA;
    }

    .facebook-header:hover {
        fill: #24A3FF;
    }

    .nav-links {
        display: flex;
        list-style: none;
        justify-content: flex-end;
    }

    .link {
        text-decoration: none;
        color: #24A3FF;
        font-size: 18px;
        font-weight: 500;
        margin-left: 15px;
    }
    
    .link:hover {
        color: #F0145A;
    }

    .active-link {
        color: #F0145A;
        border-bottom: 2px solid #F0145A;
    }

    .main {
        padding: 40px 0 0 0;
        height: 2213px;
    }

    .publications__container {
        display: none;
    }

    .publications__container-desktop {
        display: block;
        margin: 0 60px;
        columns: 3;
        column-gap: var(--column-gap);
        height: 2004px;
    }

    .masonry-item {
        padding: 20px;
        width: calc(100% - var(--column-gap));
        max-height: 461px;
        display: inline-block;
        background-color: #ffffff;
        border-radius: 8px;
        margin-bottom: 40px;
    }

    .masonry-item-image {
        display: block;
        width: calc(100% + 40px);
        margin: -20px -20px 20px -20px;
        border-radius: 8px 8px 0 0;
    }

    .masonry-item-heading {
        font-size: 18px;
        line-height: 21px;
        margin: 0 0 10px 0;
    }

    .masonry-item-heading a {
        color: #24a3ff;
        text-decoration: none;
    }

    .masonry-item-date {
        display: block;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #b3b3ba;
    }

    .masonry-item-text {
        padding-top: 20px;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        border-top: solid 4px #e6e6f0;
    }

    .btn-more-publications {
        margin-bottom: 0;
    }

    .footer {
        padding-bottom: 40px;
    }

    .footer-container {
        display: flex;
        margin: 0 60px;
        padding-top: 32px;
        justify-content: space-between;
    }

    .footer__contacts-wrap {
        display: grid;
        grid-template-columns: 38px 26px 162px 26px 154px 50px;
        width: 400px;
        align-items: center;
    }

    .footer__address {
        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0;
    }

    .footer__look-at-the-map {
        grid-column-start: 5;
        grid-column-end: 7;
        margin: 0;
        justify-self: self-start;
    }

    .footer__look-at-the-map:hover {
        color: #F0145A;
    }

    .footer__dot-separator {
        display: block;
    }

    .footer__facebook-link {
        margin: 0;
    }

    .facebook-footer:hover {
        fill: #F0145A;
    }

    .footer__phone-number {
        margin: 0;
    }

    .footer__email {
        margin: 0;
    }

    .footer__email:hover {
        color: #F0145A;
    }

    .for-margin-top {
        margin-top: 22px;
    }

}